Curso: Estadística Inferencial

Nombre: Carlos Aznarán Laos.

# Pregunta 1

Defina una matriz de nombre `AA` de tamaño $4\times 4$ con números seleccionados por usted. Responda las siguientes preguntas, haciendo uso de los comandos de R.
   - ¿Qué tipo de datos es `AA`?
   - Puede modificar `AA` y crear otro tipo de datos.

In [26]:
numbers = rnorm(16)
AA = matrix(
    data = numbers,
    nrow = 4,
    ncol = 4,
    byrow = TRUE,
    dimnames = list(
        c("Fila 1", "Fila 2", "Fila 3", "Fila 4"),
        c("Columna 1", "Columna 2", "Columna 3", "Columna 4")
    )
)
AA
print("El tipo de dato es")
print(class(AA))
new_object <- as.vector(c(AA[1, ], AA[ , 1]))
print("Hemos creado un")
print(class(new_object))
print("a partir de la matriz pedida.")
new_object

       Columna 1  Columna 2  Columna 3   Columna 4
Fila 1  0.3185269  0.5056448  0.54227644  0.817890075
Fila 2 -0.0670752 -2.0674223 -1.91319658 -0.221376504
Fila 3  0.2111016  0.6578055 -0.46664196  1.056838429
Fila 4  1.0293142  1.8520556 -0.05966981 -0.002185648

[1] "El tipo de dato es"
[1] "matrix"
[1] "Hemos creado un"
[1] "numeric"
[1] "a partir de la matriz pedida."

[1]  0.3185269  0.5056448  0.5422764  0.8178901  0.3185269 -0.0670752  0.2111016
[8]  1.0293142

# Pregunta 2

Defina un factor en base alguna variable estadística que desee caracterizar usted.
   - Describa la variable a presentar y por qué desea caracterizarla.
   - Cargue datos para usar el factor que define.
   - ¿Qué indican sus resultados?

Se va a definir la variable estadística cualitativa `civil` porque se desea conocer el estado civil de ciertas personas.

In [1]:
civil = c('C', 'S', 'C', 'S', 'C', 'S', 'S')
my_factor = factor(civil, labels = c('C', 'S'))
my_factor

[1] C S C S C S S
Levels: C S

In [2]:
table(my_factor)

my_factor
C S
3 4

Los resultados indican que tres personas son casadas y cuatro personas son solteras.

# Pregunta 3
Defina tres matrices de nombre `A1`, `A2` y `A3` de tamaño $4\times4$.
   - Unir las matrices, en base a las formas enseñadas.
   - Repetir esto creando `A1`, `A2` y `A3` para todos los tipos de datos posibles.

In [14]:
poisson = rpois(n = 16, lambda = 0.5)
A1 = matrix(
    data = poisson,
    nrow = 4,
    ncol = 4,
    byrow = TRUE,
    dimnames = list(
        c("Fila 1", "Fila 2", "Fila 3", "Fila 4"),
        c("Columna 1", "Columna 2", "Columna 3", "Columna 4")
    )
)
A1

xi_cuadrado = rchisq(n = 16, df = 3, ncp = 0.5)

A2 = matrix(
    data = xi_cuadrado,
    nrow = 4,
    ncol = 4,
    byrow = TRUE,
    dimnames = list(
        c("Fila 1", "Fila 2", "Fila 3", "Fila 4"),
        c("Columna 1", "Columna 2", "Columna 3", "Columna 4")
    )
)
A2

gamma = rgamma(n = 16, shape = 1, scale = c(1:16))

A3 = matrix(
    data = gamma,
    nrow = 4,
    ncol = 4,
    byrow = TRUE,
    dimnames = list(
        c("Fila 1", "Fila 2", "Fila 3", "Fila 4"),
        c("Columna 1", "Columna 2", "Columna 3", "Columna 4")
    )
)
A3

       Columna 1 Columna 2 Columna 3 Columna 4
Fila 1 0         1         0         0
Fila 2 0         1         1         0
Fila 3 0         1         0         1
Fila 4 0         0         0         0

       Columna 1 Columna 2 Columna 3 Columna 4
Fila 1  2.276217 2.535151  0.1445701 4.2287076
Fila 2  1.806542 5.131484  1.0605231 0.8442221
Fila 3 13.193682 1.747321  9.4858902 0.5143827
Fila 4  2.957842 5.315000  1.4519385 1.7614765

       Columna 1  Columna 2  Columna 3  Columna 4
Fila 1  0.2269756  0.6348878  0.1877379  0.6792353
Fila 2  2.0258648  3.0213836  4.4873507 17.0836731
Fila 3 18.4251366 19.3634033  4.6963759  4.8120639
Fila 4 53.5041682  5.6860201 43.3990125 14.4513029

In [ ]:
A1
A2
A3

# Pregunta 4

Construya un marco de datos llamado notas con la siguiente información.

In [78]:
exam_1 <- c(7, 6, 8)
exam_2 <- c(9, 6, 8)
homework <- c(8, 7, 9)
students <- c('Antonio', 'Berenice', 'Carlos')

grades <- data.frame(students, exam_1, exam_2, homework)
grades

  students exam_1 exam_2 homework
1 Antonio  7      9      8
2 Berenice 6      6      7
3 Carlos   8      8      9

In [50]:
print("Mostrar las notas de Antonio:"); grades[1, 2:4]
print("Mostrar las notas de Berenice:"); grades[2, 2:4]
print("Mostrar las notas de Carlos:"); grades[3, 2:4]

[1] "Mostrar las notas de Antonio:"

  exam_1 exam_2 homework
1 7      9      8

[1] "Mostrar las notas de Berenice:"

  exam_1 exam_2 homework
2 6      6      7

[1] "Mostrar las notas de Carlos:"

  exam_1 exam_2 homework
3 8      8      9

In [51]:
print("Mostrar las notas del primer examen:"); grades[2]
print("Mostrar las notas del segundo examen:"); grades[3]
print("Mostrar las notas de la tarea:"); grades[4]

[1] "Mostrar las notas del primer examen:"

  exam_1
1 7
2 6
3 8

[1] "Mostrar las notas del segundo examen:"

  exam_2
1 9
2 6
3 8

[1] "Mostrar las notas de la tarea:"

  homework
1 8
2 7
3 9

In [53]:
print("Mostrar la nota máxima de Antonio:"); max(grades[1, 2:4]) 
print("Mostrar la nota máxima de Berenice:"); max(grades[2, 2:4])
print("Mostrar la nota máxima de Carlos:"); max(grades[3, 2:4])

[1] "Mostrar la nota máxima de Antonio:"

[1] 9

[1] "Mostrar la nota máxima de Berenice:"

[1] 7

[1] "Mostrar la nota máxima de Carlos:"

[1] 9

In [103]:
print("Mostrar el promedio de notas de Antonio:"); as.vector(rowMeans(grades[-1]))[1]
print("Mostrar el promedio de notas de Berenice:"); as.vector(rowMeans(grades[-1]))[2]
print("Mostrar el promedio de notas de Carlos:"); as.vector(rowMeans(grades[-1]))[3]

[1] "Mostrar el promedio de notas de Antonio:"

[1] 8

[1] "Mostrar el promedio de notas de Berenice:"

[1] 6.333333

[1] "Mostrar el promedio de notas de Carlos:"

[1] 8.333333

# Pregunta 5

Cargue el marco de datos `mtcars` brindado por R.
   - Describa que ofrece dicha data.
   - Usando las herramientas presentadas hasta el momento, explote todo el potencial de la data `mtcars`.

Los datos se extrajeron de la revista Motor Trend US de 1974 y comprenden el consumo de combustible y 10 aspectos del diseño y rendimiento de automóviles para 32 automóviles (modelos 1973-74).

Un marco de datos con 32 observaciones en 11 variables (numéricas).

In [104]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [105]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [106]:
class(mtcars$vs)

[1] "numeric"

# Información de la sesión

In [17]:
sessionInfo()

R version 3.6.1 (2019-07-05)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Arch Linux

Matrix products: default
BLAS:   /usr/lib/libopenblasp-r0.3.6.so
LAPACK: /usr/lib/liblapack.so.3.8.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.2      digest_0.6.20   zeallot_0.1.0   crayon_1.3.4
 [5] IRdisplay_0.7.0 repr_1.0.1      backports_1.1.4 jsonlite_1.6
 [9] evaluate_0.14   pillar_1.4.2    rlang_0.4.0     uuid_0.1-2
[13] vctrs_0.2.0     IRkernel_1.0.2  tools_3.6.1     compiler_3.6.1
[17] pkgconfig_2.0.2 base64enc_0.1-3 htmltools_0.3.6 pbdZMQ_0.3-3
[21] tibble_2.1.3